Source: pyndn
Section: python
Priority: extra
Maintainer: Philip Withnall <withnall@endlessm.com>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python-all,
 python-cryptography,
 python-protobuf,
 python-setuptools,
 python-trollius,
X-Python-Version: >= 2.7
Standards-Version: 3.9.7
Testsuite: autopkgtest-pkg-python
Homepage: https://github.com/named-data/PyNDN2
Vcs-Git: https://github.com/endlessm/PyNDN2.git
Vcs-Browser: https://github.com/endlessm/PyNDN2

Package: python-pyndn
Section: python
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
Description: Named Data Networking library (Python 2)
 A Pure Python NDN client library, it follows the NDN Common Client
 Libraries (CCL) recomendations and is compatible with the TLV2.0 wire
 format.
 .
 This package contains the library for Python 2.
